:root {
    --h-scalar: 1.618;
    --img-radius: 0rem;
}

html {
    font-family: poppins;
}

h1 {
    color: var(--text-light);
    font-size: calc(1rem*var(--h-scalar)*var(--h-scalar)*var(--h-scalar)*var(--h-scalar));
}

h2 {
    font-size: calc(1rem*var(--h-scalar)*var(--h-scalar)*var(--h-scalar));
}

h3 {
    font-size: calc(1rem*var(--h-scalar)*var(--h-scalar));
}

h4 {
    font-size: calc(1rem*var(--h-scalar));
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.5rem;
}

body {
    background-color: var(--primary-60);
}

a {
    text-decoration: none;
    color: var(--text-light);
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
}