nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-30);
    height: var(--nav-height);
    color: var(--text-light);
    .logo {
        margin-left: var(--margin)
    }
    ul {
        height: 100%;
        display: flex;
        align-items: center;
        gap: 1rem;
        li {
            width: 7rem;
            height: 100%;
            display: flex;
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                width: 100%;
            }
        }
    }
    .account {
        display: flex;
        margin-right: var(--margin);
    }
}