section {
    margin-left: var(--margin);
    margin-right: var(--margin);
    padding-top: 1rem;
    &.description {
        color: var(--text-light);
        p {
            padding: 1rem 0 1rem 0;
        }
    }
    &.image {
        h4 {
            color: var(--text-light);
            padding-bottom: 0.5rem;
        }
        .img-container {
            background-color: var(--accent);
            width: 100%;
            aspect-ratio: 16/9;
            border-radius: var(--img-radius);
        }
        h5 {
            color: var(--text-light);
            padding-top: 0.125rem;
        }
    }
}