section {
    margin-left: var(--margin);
    margin-right: var(--margin);
    padding-top: 1rem;
    &.description {
        color: var(--text-light);
        p {
            padding: 1rem 0 1rem 0;
        }
    }
    &.image {
        h5 {
            color: var(--text-light);
        }
    }
}