<nav>
    <div class="logo">
        Logo
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/browse">Browse</a></li>
        <li><a href="/editor">New Project</a></li>
    </ul>
    <div class="account">
        <a href="/profile" class="name">
            Profile
        </a>
        <div class="img-container">
            <img src="" alt="">
        </div>
    </div>
</nav>