<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('includes/head.ejs', {title: "Home"}) %>
    </head>
<body>
    <!--NAV-->
    <%- include('includes/nav') %>
    <!--HEADER-->
    <header class="home">
        <img class="background-img" src="images/VanByLake.jpeg" alt="background image">
        <h1 class="title">RefManager</h1>
        <h2 class="subtitle">A fourth attempt</h2>
        <div class="button cta">
            <a href="signup">Register</a>
        </div>
    </header>
    <!--MAIN-->
    <main>
        <section class="description top">
            <h2>Lorem Ipsem</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quos libero id esse quasi eligendi autem consequatur 
                provident illo vel voluptas sequi laboriosam eveniet, 
                eos consectetur sint atque ullam expedita fugiat.
            </p>
        </section>
        <section class="text-card">
            <div class="left ontop">
                <div class="text">
                    <h3>Heading</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit nemo corporis recusandae dicta nostrum quaerat, maiores libero asperiores vel unde debitis labore sed voluptatibus voluptas alias officia quo quod facere.</p>
                </div>
            </div>
            <div class="right onbottom">
                <div class="card">
                    <h3>Heading</h3>
                    <img src="/images/VanOnBridge.jpeg" alt="VanOnBridge">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem cumque recusandae doloribus sunt odio suscipit, exercitationem placeat dignissimos cupiditate saepe praesentium illo laboriosam beatae error quas harum illum omnis porro.</p>
                </div>
            </div>
        </section>
        <section class="text-card">
            <div class="left onbottom">
                <div class="card">
                    <h3>Heading</h3>
                    <img src="/images/VanOnBridge.jpeg" alt="VanOnBridge">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem cumque recusandae doloribus sunt odio suscipit, exercitationem placeat dignissimos cupiditate saepe praesentium illo laboriosam beatae error quas harum illum omnis porro.</p>
                </div>
            </div>
            <div class="right ontop">
                <div class="text">
                    <h3>Heading</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit nemo corporis recusandae dicta nostrum quaerat, maiores libero asperiores vel unde debitis labore sed voluptatibus voluptas alias officia quo quod facere.</p>
                </div>
            </div>
        </section>
        <section class="text-card ontop">
            <div class="left">
                <div class="text">
                    <h3>Heading</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit nemo corporis recusandae dicta nostrum quaerat, maiores libero asperiores vel unde debitis labore sed voluptatibus voluptas alias officia quo quod facere.</p>
                </div>
            </div>
            <div class="right onbottom">
                <div class="card">
                    <h3>Heading</h3>
                    <img src="/images/VanOnBridge.jpeg" alt="VanOnBridge">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem cumque recusandae doloribus sunt odio suscipit, exercitationem placeat dignissimos cupiditate saepe praesentium illo laboriosam beatae error quas harum illum omnis porro.</p>
                </div>
            </div>
        </section>
    </main>
</body>
</html>