<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('includes/head.ejs', {title: "Home"}) %>
    </head>
<body>
    <!--NAV-->
    <%- include('includes/nav') %>
    <!--HEADER-->
    <header class="home">
        <img class="background-img" src="images/VanByLake.jpeg" alt="background image">
        <h1 class="title">Title</h1>
        <h2 class="subtitle">Subtitle</h2>
        <div class="button cta">
            <a href="signup">Register</a>
        </div>
    </header>
    <!--MAIN-->
    <main>
        <section class="description top">
            <h2>Lorem Ipsem</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quos libero id esse quasi eligendi autem consequatur 
                provident illo vel voluptas sequi laboriosam eveniet, 
                eos consectetur sint atque ullam expedita fugiat.
            </p>
        </section>
    </main>
</body>
</html>