<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('includes/head.ejs', {title: "Login"}) %>
    </head>
<body>
    <header>
        <h1>Login</h1>
    </header>
    <main>
        <section class="login">
            <form id="login">
                <label>Login</label>
                <input type="text" name="login"/>
                <label>Password</label>
                <input type="password" name="password">
                <button>Log in</button>
            </form>
        </section>

        <script src="https://www.gstatic.com/firebasejs/10.11.0/firebase-app-compat.js" defer></script>
        <script src="https://www.gstatic.com/firebasejs/10.11.0/firebase-auth-compat.js" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js" defer></script>

        <script>
            window.addEventListener("DOMContentLoaded", () => {
                const firebaseConfig = {
                    apiKey: "AIzaSyBlHTQRlrJCPEYBCVknIHgywurMu2byBeo",
                    authDomain: "refmanager-3dc90.firebaseapp.com",
                    projectId: "refmanager-3dc90",
                    storageBucket: "refmanager-3dc90.appspot.com",
                    messagingSenderId: "905391770686",
                    appId: "1:905391770686:web:141e3b5dbb1fa13363156f"
                };
        
                firebase.initializeApp(firebaseConfig);
        
                firebase.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);
        
                document
                    .getElementById("login")
                    .addEventListener("submit", (event) => {
                        event.preventDefault();
                        const login = event.target.login.value;
                        const password = event.target.password.value;
        
                        firebase
                            .auth()
                            .signInWithEmailAndPassword(login, password)
                            .then(({ user }) => {
                                return user.getIdToken().then((idToken) => {
                                    return fetch("/sessionLogin", {
                                        method: "POST",
                                        headers: {
                                            Accept: "application/json",
                                            "Content-Type": "application/json",
                                            "CSRF-Token": Cookies.get("CSRF-TOKEN"),
                                        },
                                        body: JSON.stringify({ idToken }),
                                    });
                                });
                            })
                            .then(() => {
                                return firebase.auth().signOut();
                            })
                            .then(() => {
                                console.log("User signed in successfully");
                                window.location.assign("/profile");
                            })
                            .catch((error) => {
                                console.error("Error logging in user:", error);
                            });
                    });
        
                return false;
            });
        </script>
    </main>
</body>
</html>