<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("includes/head", {title: "editor"}) %>
</head>
<body>
    <%- include("includes/nav") %>
    <h1>New Project</h1>
    <form action="/newProject" method="post">
        <label>Title:</label>
        <input type="text" value="Untitled Project 1" name="projectTitle" required>
        <label>Description:</label>
        <input type="text" name="projectDescription" required>
        <label>Make public:</label>
        <input type="checkbox" name="public">
        <button>Create Project</button>
    </form>
</body>
</html>