<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("includes/head", {title: "editor"}) %>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
</head>
<body>
    <%- include("includes/nav") %>
    <h1>New Project</h1>
    <form id="new-project">
        <label>Title:</label>
        <input type="text" value="Untitled Project 1" name="projectTitle" required>
        <label>Description:</label>
        <input type="text" name="projectDescription" required>
        <label>Make public:</label>
        <input type="checkbox" name="public">
        <button>Create Project</button>
    </form>
    <script>
        document
            .getElementById("new-project")
            .addEventListener("submit", (event) => {
                event.preventDefault()
            
                let form = document.getElementById("new-project")
                let formData = new FormData(form)
                let jsonData = {}
                formData.forEach((value, key) => { jsonData[key] = value })
                jsonData.public = form.querySelector('input[name="public"]').checked

                fetch("/newProject", {
                    method: "POST",
                    headers: {
                        Accept: "application/json",
                        "Content-Type": "application/json",
                        "CSRF-Token": Cookies.get("CSRF-TOKEN"),
                    },
                    body: JSON.stringify(jsonData)
                })
                .then((response) => {
                    window.location.href = response.url
                })
            })
    </script>
</body>
</html>