<!DOCTYPE html>
<html lang="en">
    <%- include('includes/head'), {title: "Portfolio"} %>
<body>
    <!--NAV-->
    <%- include('includes/nav') %>
    <!--HEADER-->
    <header class="portfolio">
        <img class="background-img" src="images/VanOnBridge.jpeg" alt="">
        <h1 class="title">Title</h1>
        <h2 class="subtitle">Subtitle</div>
    </header>
    <!--MAIN-->
    <main>
        <section class="description top">
            <h2>Lorem Ipsem</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quos libero id esse quasi eligendi autem consequatur 
                provident illo vel voluptas sequi laboriosam eveniet, 
                eos consectetur sint atque ullam expedita fugiat.
            </p>
        </section> 
        <section class="image">
            <h4>Image Title</h4>
            <div class="img-container">
                <img src="images/VanByWaterfall.jpeg" alt="">
            </div>
            <h5>Date</h5>
        </section>
        <section class="description bottom">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam dolores aliquid unde reprehenderit consequuntur maiores sint? Vitae doloribus est sed nobis quidem distinctio, ullam saepe quae et maxime, minus beatae.
        </section>
    </main>
</body>
</html>