<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("includes/head", {title: "profile"}) %>
</head>
<body>
    <header>
        <h1>Profile</h1>
    </header>
    <main>
        <p>This page is private</p>
        <a href="/sessionLogout">Log out</a>
    </main>
</body>
</html>