header {
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    animation: fade-in 1s forwards ease;
    .background-img {
        position: absolute;
        min-height: 100%;
        max-width: unset;
        aspect-ratio: 16/9;
        filter: blur(0.5rem) brightness(40%) grayscale(0.4);
        z-index: -1;
    }
    &.portfolio {
        height: 20rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .title {
            color: var(--accent);
            margin-bottom: var(--spacing-s);
        }
        .subtitle {
            color: var(--text-light);
        }
        a {
            margin-top: var(--spacing-s);
        }
    }
    &.home {
        height: 75svh;
        min-height: 30rem;
        max-height: 40rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .title {
            color: var(--accent);
            margin-bottom: var(--spacing-s);
        }
        .subtitle {
            color: var(--text-light);
            margin-bottom: var(--spacing-l);
        }
    }
    &.profile {
        margin-left: var(--margin);
        margin-right: var(--margin);
        display: flex;
        flex-direction: column;
        height: 20rem;
        justify-content: center;
    }
    &.browse {
        text-align: center;
        margin-left: var(--margin);
        margin-right: var(--margin);
        height: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &.login-signup {
        margin-left: var(--margin);
        margin-right: var(--margin);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10rem;
    }
    &.new-project {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20rem;
    }
}

@keyframes fade-in {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}