section {
    &.top {
        margin-top: var(--spacing-l);
    }
    &.bottom {
        margin-bottom: var(--spacing-m);
    }
    margin-left: var(--margin);
    margin-right: var(--margin);
    &.description {
        color: var(--text-light);
        h2 {
            margin-bottom: var(--spacing-s);
        }
        p {
            margin-bottom: var(--spacing-m);
        }
    }
    &.image {
        h4 {
            color: var(--text-light);
            margin-bottom: var(--spacing-xs);
        }
        .img-container {
            background-color: var(--accent);
            width: 100%;
            aspect-ratio: 16/9;
            border-radius: var(--img-radius);
        }
        h5 {
            color: var(--text-light);
            margin-bottom: var(--spacing-s);
        }
    }
    &.login {
        color: var(--text-light-gray);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100svh;
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50%;
            label {
                margin-bottom: var(--spacing-xs);
            }
            input {
                margin-bottom: var(--spacing-m);
            }
            button {
                margin-bottom: var(--spacing-xs);
            }
        }
    }
    &.signup {
        color: var(--text-light-gray);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100svh;
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50%;
            label {
                margin-bottom: var(--spacing-xs);
            }
            input {
                margin-bottom: var(--spacing-m);
            }
            button {
                margin-bottom: var(--spacing-xs);
            }
        }
    }
}